<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Usuario" id="username">
        <input type="password" name="password" placeholder="Contraseña" id="password">
        <input type="submit" value="Enviar">
    </form>
    <div id="error" style="display: none; color: red;">Usuario y/o Contraseña incorrecto. <br>Intentar de nuevo.</div>
</body>
</html>